{{#each this}}
<div class="card">
    <div class="head-box">
        <h2 class="head">{{name}}</h2>
    </div>
    <div class="content">
        <div>
            <p class="capital">Capital: <span class="textSpan">{{capital}}</span></p>
            <p class="population">Population: <span class="textSpan">{{population}}</span></p>
            <p class="lang">Languages:
            <ul class="list">
                {{#each languages}} <li>{{name}}</li>{{/each}}

            </ul>
            </p>
        </div>
        <img src="{{flag}}" alt="{{name}} width=" 200" height="200"">

    </div>
</div>
{{/each}}